# SPDX-FileCopyrightText: 2020 Ethel Morgan
#
# SPDX-License-Identifier: MIT

[Unit]
Description=Control Snapserver using MQTT
Wants=network.target
After=network.target

[Service]
DynamicUser=yes
ExecStart=/usr/local/bin/catbus-bridge-snapcast --config-path /etc/catbus-bridge-snapcast/config.json

[Install]
WantedBy=multi-user.target
